@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
  font-family: "Poppins", sans-serif;
}

.center-slide {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
}

.slide:nth-of-type(1n) .center-slide {
  background: rgb(255, 151, 151);
}
.slide:nth-of-type(2n) .center-slide {
  background: rgb(255, 210, 151);
}
.slide:nth-of-type(3n) .center-slide {
  background: rgb(151, 193, 255);
}
.slide:nth-of-type(4n) .center-slide {
  background: rgb(196, 151, 255);
}
